@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,300&display=swap');

$main-green: #2093A7;
$light-yellow: #F5F5EE;
$dark-yellow: #FDD89C;
$text-color: #484848;
$light-grey: #F8F8F8;
$social-fb: #166ADA;
$social-google: #D44235;

* {
    font-family: 'Montserrat', sans-serif;
}

